<div class="info">
<h2><%= @four_oh_four.path %></h2>
<%= show_field(@four_oh_four,:host) %>
<%= show_field(@four_oh_four,:referer) %>
<%= show_field(@four_oh_four,:count) %>
<%= show_field(@four_oh_four,:updated_at) %>
</div>

