<% create_container('field triple') do %>
  <%= input_text_for_block(f,@location,:name) %>
  <%= input_text_for_block(f,@location,:number) %>
  <%= input_text_for_block(f,@location,:district) %>
<% end %>
<span class='clear'>&nbsp;</span>
<% create_container('field four') do %>
  <%= input_text_for_block(f,@location,:city) %>
  <%= input_text_for_block(f,@location,:state) %>
  <%= input_text_for_block(f,@location,:uf) %>
  <%= input_text_for_block(f,@location,:cep,{},{:information => "Informe somente os números, exemplo : 85875000"}) %>
<% end %>
<span class='clear'>&nbsp;</span>
<% create_container('field double') do %>
  <%= input_text_for_block(f,@location,:phone,{},{:information => "Informe somente os numeros, exemplo : 4599998787"}) %>
  <%= input_text_for_block(f,@location,:email) %>
<% end %>
<span class='clear'>&nbsp;</span>
<% create_container('field double') do %>
  <%= input_text_for_block(f,@location,:url_site,{},{:information => "Informe a URL completa, exemplo : http://www.meusite.com.br"}) %>
  <%= input_text_for_block(f,@location,:url_map,{},{:information => "Informe a URL completa, exemplo : http://www.meusite.com.br"}) %>
<% end %>
<span class='clear'>&nbsp;</span>
 <%= input_text_for_form(f,@location,:image,{},{:input_type => 'file'}) %>
 <%= show_image(@location)%>
<%= create_actions_buttons(button_label) %>

