<h1><%= image_tag(@owner.image.url(:small),:alt => "logo #{@owner.name}") %></h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <label>Email
    <%= f.email_field :email,:class =>"txt" %>
  </label>

  <%= f.submit "Confirmar",:class => "btn" %>
  <%= render :partial => "/admin/shared/links" %>
  <span class="clear">&nbsp;</span>
<% end %>

