<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @report_error.user %>
</p>

<p>
  <b>Name:</b>
  <%= @report_error.name %>
</p>

<p>
  <b>Content:</b>
  <%= @report_error.content %>
</p>


<%= link_to 'Edit', edit_report_error_path(@report_error) %> |
<%= link_to 'Back', report_errors_path %>
