<div class="info">
<h2><%= @owner.name %></h2>
<%= show_field(@owner,:representative) %>
<%= show_field(@owner,:cnpj) %>
<%= show_field(@owner,:phone) %>
<%= show_field(@owner,:image,:content => @owner.image.url) %>
</div>

